<div class="card-custom d-flex align-items-center">
    <!-- Imagen a la izquierda -->
    <div class="flex-shrink-0" style="padding: 0.5rem;">
        <img [src]="pet?.img" class="img-fluid" alt="{{pet?.name}}">
    </div>
    <!-- Datos a la derecha -->
    <div class="ms-3" style="padding: 0.5rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{pet?.name}}</li>
            <li class="list-group-item">{{pet?.gender}}</li>
            <li class="list-group-item">{{pet?.age}}</li>
        </ul>
        <button class="btn btn-primary btn-sm" (click)="deleteToCart(pet!)">Eliminar</button>
    </div>
</div>
